* {
    margin: auto;
    padding: 0;
}

#wrap {
    width: 1000px;
    height: 680px;
}

#top {
    width: 1000px;
    height: 80px;
    background-color: #ff5e00;
}

#main {
    display: flex;
}

.left {
    width: 600px;
    height: 500px;
    background-color: #00d8ff;
    margin: 0;
}

#right {
    margin-left: 20px;
}

.right1 {
    width: 380px;
    height: 150px;
    background-color: #f0d;
    margin-bottom: 15px;
}

.right2 {
    width: 380px;
    height: 150px;
    background-color: #ffe340;
    margin-bottom: 15px;
}

.right3 {
    width: 380px;
    height: 170px;
    background-color: #99e000;
}

#bottom {
    width: 1000px;
    height: 100px;
    background-color: #5d5d5d;
}