*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;  /* 가로 스크롤 없애줌 */
    font-size: 18px;
}
header {
    width: 100%;
    height: 90px;
    background-color: #000;
    position: sticky;  /* 상단에 붙어있게하기 */
    top: 0;
}
.hd_wrap{
    width: 1800px;
    height: 90px;
    margin: 0 auto;
    background-color: #000;
    display: flex;
}
nav{
    color: #fff;
    align-items: center;
    display: flex;
}
nav > ul {
    display: flex; 
    padding: 0px 150px; 
}
nav > ul > li {
    text-align: center;
    margin: 0px 30px;
    font-size: 20px;
    cursor: pointer;
}
.hd_num{
    align-content: center;
}
.order{
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 50px;
    font-size: 15px;
    animation: infinite 0.5s blink;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes blink {
    0% {
        background-color: #c11020;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #c11020;
    }
}
#sec1{
    background-image: url("https://kiyoung2.com/theme/kiyoung2/img/2406_sec01_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
#sec2{
    background-image: url("https://kiyoung2.com/theme/kiyoung2/img/2406_sec02_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
.side{
    display: flex;
    flex-direction: column;   /* 세로로 */
    position: fixed;
    top: 30%;
    right: 30px;
    width: 130px;
    background-color: #000;
    border: #c11020 3px solid;
    color: white;
}
.side_text{
    text-align: center;
    margin-top: 20px;
}
.input_wrap{
    text-align: center;
    
}
input::placeholder {
    color: #000000;
}
.input_wrap > input, select{
    width: 110px;
    height: 23px;
    text-indent: 5px;
    border: #c11020 2px solid;
    margin-top: 12px;
    color: #000;
}
.checkbox{
    margin: 12px 0;
    justify-content: center;
    display: flex;
    font-size: 13px;
}

.checkbox p{
    text-decoration: underline;
    margin-left: 5px;
    font-size: 10px;
}
.top_btn{
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.arrow{
    width: 0;
    height: 0;
    margin-left: 5px;
    border-bottom: 13px solid black;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.bot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #c11020;
}