*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}
html {
}

body{
    width: 100%;
    overflow-x: hidden;/* 가로 스크롤 없애줌 */
    font-size: 18px
}
header {
    width: 100%;
    background-color: #000;
    position: sticky;  /* 상단에 붙어있게하기 */
    top: 0;
    display: flex;
}
input{
    box-sizing:border-box;
}
#top{
    position: absolute;
    top: 0;
    left: 0;
}
.hd_wrap{
    display: flex;
    height: 90px;
    margin: 0 auto;
    width: 1800px;
    min-width: 1500px;
    box-sizing: border-box;
    justify-content: space-between
}
nav{
    color: #fff;
    align-content: center;
    overflow: auto
}
nav > ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between
}
nav > ul > li {
    text-align: center;
    margin: 0px 30px;
    font-size: 20px;
    cursor: pointer;
    align-content: center;
}
.hd_num{
    align-content: center;
}
.hd_tel_box{
    display: flex;
}
.order{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 50px;
    font-size: 15px;
    animation: infinite 0.5s blink;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@keyframes blink {
    0% {
        background-color: #c11020;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #c11020;
    }
}
#sec1{
    background-image: url("https://kiyoung2.com/theme/kiyoung2/img/2406_sec01_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
#sec2{
    background-image: url("https://kiyoung2.com/theme/kiyoung2/img/2406_sec02_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
}
.side{
    z-index: 10;
    display: flex;
    flex-direction: column;   /* 세로로 */
    position: fixed;
    top: 30%;
    right: 30px;
    width: 130px;
    background-color: #000;
    border: #c11020 3px solid;
    color: white;
}
.side_text{
    text-align: center;
    margin-top: 20px;
}
.input_wrap{
    text-align: center;
    
}
input::placeholder {
    color: #000000;
}
.input_wrap > input, #region_1{
    width: 110px;
    height: 23px;
    text-indent: 5px;
    border: #c11020 2px solid;
    margin-top: 12px;
    color: #000;
}
.checkbox{
    margin: 12px 0;
    justify-content: center;
    display: flex;
    font-size: 13px;
}

.checkbox p{
    text-decoration: underline;
    margin-left: 5px;
    font-size: 10px;
}
.top_btn{
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.arrow{
    width: 0;
    height: 0;
    margin-left: 3px;
    border-bottom: 13px solid black;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.bot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #c11020;
    color: white;
    display: flex;
    justify-content: center;
}
.bot_tel{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    align-items: center;
    margin-right: 50px;
}
.bot_tel img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.bot_input_wrap{
    justify-content: center;
    display: flex;
    align-items: center;
}
input::placeholder {
    color: #000000;
}
.bot_input_wrap > input, #region_2{
    width: 150px;
    height: 30px;
    text-indent: 5px;
    margin-right: 12px;
    color: #000;
}

#region_1{
    margin-right: 0;
}

#region_2{
    margin-top: 0;
}

.bot_checkbox{
    width: 120px;
    font-size: 13px;
}

.bot_checkbox p{
    margin-left: 20px;
    font-size: 10px;
}

@media(max-width : 400px) {
    header {
        width: 400px;
        background-color: #fff;
    }
}
