*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    background-color: #f4efe9;
}
.wrap {
    width: 100vw;
    height: 100vh;
}
li img {
    width: 20px;
    height: 10px;
    margin-left: 5px;
}
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #00000018;
}
.header_box{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo{
    position: absolute;
    left: 0;
}
.logo img{
    width: 120px;
    height: 50px;
}
.nav > ul > li > ul{
    position: absolute;
    top: 90px;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    transition-delay: 0.2s;
} 
.nav > ul > li > ul > li {
    display: flex;
    height: 110px;
    padding-left: 0;
    margin-left: 30px;
}
.nav > ul > li > ul > li:first-child{
    margin-top: 40px;
}
.nav > ul > li > ul{
    width: 250px;
    height: 400px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.nav > ul > li > ul:last-child{
    width: 175px;
    height: 400px;
    margin-left: 250px;
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.nav p{
    line-height: 20px;
    color: #00000088;
}
.nav span{
    line-height: 40px;
    color: #000;
}
.nav{
    position: absolute;
    left: 300px;
    z-index: 1;
}
.nav > ul{
    display: flex;
}
.nav > ul > li {
    height: 30px;
    margin-left: 50px;
    line-height: 30px;
}
.nav > ul > li:hover > ul{
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
    transition-delay: 0.2s;
}
.nav > ul > li:first-child > ul:last-child{
    background-color: #ffb040;
}
.nav > ul > li:nth-child(2) > ul:last-child{
    background-color: #d63836;
}
.nav > ul > li:nth-child(3) > ul:last-child{
    background-color: #1855a0;
}
.nav > ul > li:nth-child(4) > ul:last-child{
    background-color: #264462;
}
.nav > ul > li:last-child > ul:last-child{
    background-color: #793da7;
}
main {
    background-color: #ede6dd;
    height: 650px;
}
button {
    width: 160px;
    height: 45px;
    border-radius: 20px;
    background-color: #1e1928;
    border: none;
    color: #fff;
}
button:hover{
    opacity: 0.8;
}
.btn_box{
    position: absolute;
    right: 0;
}
.btn_box .login{
    background-color: #fff;
    color: #000;
    border: 1px solid #0000002b;
}
main{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #00000018;
}
.main_box{
    width: 1300px;
    display: flex;
}
.left{
    width: 650px;
    height: 250px;
    position: relative;
    top: 125px;
}
.main_image{
    width: 650px;
}
.left h1{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
}
.left p{
    font-size: 30px;
    margin-bottom: 20px;
}
main img{
    width: 550px;
    height: 500px;
    position: relative;
    left: 100px;
}
footer{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #00000018;
}
.footer_box{
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer_p{
    width: 600px;
    position: relative;
    left: 0;
    font-size: 20px;
}
.pika img{
    width: 500px;
    height: 120px;
}
