*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    background-color: #f4efe9;
}
.wrap {
    width: 100vw;
    height: 100vh;
}
li img {
    width: 20px;
    height: 10px;
    margin-left: 5px;
}
header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #00000018;
}
.header_box{
    width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60px;
    height: 80px;
}
.news {
}
.news_box {
    display: flex;
    position: absolute;
    top: 80px;
    display: none;
    
}
.news_contents {
    width: 250px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}
.news_contents li{
    margin-bottom: 30px;
}
.news_contents p{
    margin-bottom: 10px;
    color: #00000088;
}
.news_contents span{
    color: #000;
}
.news_contents2 {
    width: 150px;
    height: 400px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffb040;
}
.nav ul{
    display: flex;
}
.nav ul > li {
    padding-left: 50px;
}
.news_box ul > li {
    padding-left: 0px;
}
.nav ul > li:hover .news_box{
    display: flex;
}
main {
    background-color: #ede6dd;
    height: 650px;
}
button {
    width: 160px;
    height: 45px;
    border-radius: 20px;
    background-color: #1e1928;
    border: none;
    color: #fff;
}
button:hover{
    opacity: 0.8;
}
.btn_box .login{
    background-color: #fff;
    color: #000;
    border: 1px solid #0000002b;
}