*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.modal{
    display: none;
}
.modal + label{
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    background-color: #eee;
    border: 2px solid black;
    padding: 7px 14px;
    border-radius: 5px;
    cursor: pointer;
}
