*{
    margin: 0 auto;
    padding: 0;
}

.wrap {
    display: flex;
}
a {
    text-decoration: none;
    color: inherit;
}
.box1 {
    width: 50%;
    height: 720px;
    background-color: #F0F1F2;
}

.box1 .facebook{
    margin-top: 200px;
    margin-right: 0;
    width: 250px;
    height: 45px;
    margin-right: 200px;
    padding-bottom: 15px;
}
.box1 .facebook img{
    width: 100%;      /* 이미지를 박스 크기에 맞추기 */
    height: 100%;
}

.box1_text1 {
    line-height: 30px;
}

.box1_text p{
    width: 450px;
    margin-right: 0px;
    font-size: 25px;
    font-weight: normal;
}

.box2 {
    background-color: #F0F1F2;
    width: 50%;
    height: 720px;
}
.box2 .login_box {
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow : 0px 5px 10px 0px #00000038;   /* box-shadow: 좌우거리 | 위아래거리 | 블러 | 그림자크기 | 색상; */
    margin-top: 110px;
    margin-left: 100px;
    text-align: center;
}

.box2 .login_box .email {
    width: 85%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 15px;
}

.box2 .login_box .password {
    width: 85%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 15px;
}

.box2 .login_box .login{
    width: 90%;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #076DF2;
}
.box2 .login_box .login:hover{
    background-color: #3081ec;
}
.box2 .login_box .login:active{
    background-color: #1d4c8a;
}

.box2 .login_box .forgot {
    font-size: medium;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #076DF2;
}
.box2 .login_box .forgot:hover {
    text-decoration: underline;
}

.box2 .login_box .newacc_box {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    border-top: 1px #00000038 solid;
}
.newacc_box .newacc {
    width: 45%;
    height: 45px;
    margin-top: 23px;
    border-radius: 5px;
    background-color: #57c011;
}
.newacc_box .newacc:hover{
    background-color: #44940f;
}
.newacc_box .newacc:active{
    background-color: #397a0d;
}

.login_box input {
    font-size: 17px;
    border: solid 1px #00000038;
}
.login_box input:focus{
    color: #000;
    outline: solid 1px #076DF2;
    box-shadow: 0px 0px 4px 0px #076DF2;
}
.login_box input:focus::placeholder {
    color: #00000023;
}

.login_box button {
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    border-style: none;
}

.page_create {
    width: 400px;
    font-size:medium;
    margin-left: 100px;
    margin-top: 25px;
    text-align: center;
    position: relative;
}
.page_create .page{
    font-weight: bold;
}
.page_create .page:hover {
    text-decoration: underline;
}
.page_create .brand{
    cursor: pointer; /* cursor: ~; 커서모양 바꾸기 */
    text-decoration: none; /* 밑줄없애기 */
}
.page_create .brand:visited{
    color: tomato;
}
.page_create .brand:hover{
    color: tomato;
}
.page_create .brand:hover+.img {
    display: block;
}
.page_create .img{
    width: 100px;
    position: absolute;
    left: 45px;
    display: none;
    top: 40px;
}
.box3  {
    width: 900px;
    font-size: 14px;
}
.language_box {
    height: 50px;
}
.languages ul{
    list-style: none;
    display: flex;
    color: #00000093;
    padding-top: 20px;
}
.languages {
}
.languages li{
    margin: 0;
    padding-right: 10px;
}
.languages li:hover {
    text-decoration: underline;
}

.more {
    width: 35px;
    height: 23px;
    color: #000000b7;
    border: #00000034 1px solid;
    line-height: 23px;
    font-size: 20px;
}
.more:hover{
    background-color: #0000002a;
}
.more:active{
    background-color: #00000056;
}

.what ul{
    list-style: none;
    display: flex;
    color: #00000093;
    flex-wrap: wrap;
    padding-top: 10px;
}

.what li{
    margin: 0;
    padding-bottom: 5px;
    padding-right: 15px;
}
.what li:hover {
    text-decoration: underline;
}
.what_box {
    border-top: #00000038 solid 1px;
    width: 950px;
    height: 500px;
}

.copyright {
    margin-top: 20px;
    color: #000000ab;
}
