* {
    margin: 0 auto;
    list-style: none;
    
}

.wrap {
    width: 100%;
    height: 500px;
    background-color: #bae9f8;
    
}

.content_box {
    width: 1200px;
    height: 500px;
    display: flex;
}



.content1 {
    width: 800px;
    height: 500px;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    align-items: center;
}

span {
    color: purple;
}

span:hover{
    text-decoration : underline;
}



.content2 {
    width: 400px;
    height: 500px;
    text-align: center;
}

button{
    border-style: none;
}

.button{
    margin-left: 50px;
    height: 500px;
    width: 420px;
    display: flex;
    align-items: center;
    font-size: larger;
}

.start_button{
    width: 200px;
    height: 75px;
    line-height: 75px;
    background-color: #9644af;
    color: #fff;
    border-radius: 30px;
}

.start_button:hover {
    background-color: #41214d;
    color: #ffffff;
}

.more_button {
    width: 200px;
    height: 75px;
    line-height: 75px;
    background-color: #ffffff;
    color: #75318a;
    border-radius: 30px;
}

.more_button:hover {
    background-color: #636363;
    color: #ffffff;
}

