* {
    margin: 0 auto;
    list-style: none;
    
}

.w {
    width: 100%;
    height: 500px;
    background-color: #bae9f8;
    
}

.w2 {
    width: 1200px;
    height: 500px;
    display: flex;
}



.c1 {
    width: 800px;
    height: 500px;
    font-weight: bolder;
    font-size: 35px;
    display: flex;
    align-items: center;
}

span {
    color: purple;
}

span:hover{
    text-decoration : underline;
}



.c2 {
    width: 400px;
    height: 500px;
    text-align: center;
}

.b{
    margin-left: 50px;
    height: 500px;
    width: 420px;
    display: flex;
    align-items: center;
    font-size: larger;
}

.s{
    width: 200px;
    height: 75px;
    line-height: 75px;
    background-color: #9644af;
    color: #fff;
    border-radius: 30px;
}

.s:hover {
    background-color: #41214d;
    color: #ffffff;
}

.m {
    width: 200px;
    height: 75px;
    line-height: 75px;
    background-color: #ffffff;
    color: #75318a;
    border-radius: 30px;
}

.m:hover {
    background-color: #636363;
    color: #ffffff;
}

