* {
    margin: auto;
    padding: 0;
}

.wrap {
    width: 1000px;
    height: 700px;
}

.top {
    width: 1000px;
    height: 100px;
    background-color: #ff5e00;
}

.main {
    display: flex;
}

.left {
    width: 600px;
    height: 500px;
    background-color: #00d8ff;
    margin: 0;
}

.right {
   height: 500px;
}

.right1 {
    width: 400px;
    height: 175px;
    background-color: #f0d;
    
}

.right2 {
    width: 400px;
    height: 150px;
    background-color: #ffe340;
}

.right3 {
    width: 400px;
    height: 175px;
    background-color: #99e000;
}

.bottom {
    width: 1000px;
    height: 100px;
    background-color: #5d5d5d;
}