*{
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    top: 0;
    left: 50%;
    width: 1000px;
    height: 500px;
    display: flex;
    transform: translate(-50%);
    overflow: hidden;
}
.slider1{
    left: 1000px;
    position: absolute;
    display: flex;
    animation: 5s linear infinite slider1;
}
.slider2{
    left: 1000px;
    position: absolute;
    display: flex;
    animation: 5s linear 2.5s infinite slider1;
}

@keyframes slider1 { 
    0% { transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}